# An End to End Scikit learn workflow

In [1]:
# 1.Get the data Ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
heart = pd.read_csv("data/43 - heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (feature matrix)
X = heart.drop("target",axis = 1)
# Create Y (Labels)
y= heart["target"]

In [3]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# 3. fit thee model to the data
from sklearn.model_selection import train_test_split
# X-train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [5]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [7]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0])

In [8]:
# 4. evaluate the data
clf.score(X_test,y_test)

0.819672131147541

In [9]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.81      0.84      0.83        31
           1       0.83      0.80      0.81        30

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [10]:
confusion_matrix(y_test,y_preds)

array([[26,  5],
       [ 6, 24]])

In [11]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [12]:
# 5. Imrprove a model
# try different amount of n_estimators
import numpy as np
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"model accuracy:{clf.score(X_test,y_test)}")

trying model 10 estimators
model accuracy:0.8360655737704918
trying model 20 estimators
model accuracy:0.7704918032786885
trying model 30 estimators
model accuracy:0.819672131147541
trying model 40 estimators
model accuracy:0.7704918032786885
trying model 50 estimators
model accuracy:0.819672131147541
trying model 60 estimators
model accuracy:0.8032786885245902
trying model 70 estimators
model accuracy:0.8032786885245902
trying model 80 estimators
model accuracy:0.8360655737704918
trying model 90 estimators
model accuracy:0.8524590163934426

In [13]:
# 6.save a model and load it
import pickle
pickle.dump(clf,open("randonforstmodel1.pkl","wb"))

##  1. getting data ready
three main things we have to do:

    1.Split the data into features ans labels(x,y)
    2.filling (imputing) or disregarding missing values
    3.Converting non-numerial values to numerical values(feature encoding)

In [14]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
X = heart.drop("target",axis =1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [16]:
y = heart["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [17]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [18]:
X_train.shape

(242, 13)

# Make sure it's all numerical

In [19]:
pp  = pd.read_csv("data/ElectricCarData_Clean.csv")
pp.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [20]:
pp.dtypes
# pp.shape

Brand               object
Model               object
AccelSec           float64
TopSpeed_KmH         int64
Range_Km             int64
Efficiency_WhKm      int64
FastCharge_KmH      object
RapidCharge         object
PowerTrain          object
PlugType            object
BodyStyle           object
Segment             object
Seats                int64
PriceEuro            int64
dtype: object

In [21]:
pp["Model"].value_counts()

e-Soul 64 kWh                    2
Model 3 Long Range Dual Motor    1
Mustang Mach-E ER RWD            1
Sion                             1
M-Byte 95 kWh 4WD                1
                                ..
e-Niro 64 kWh                    1
e-tron 50 quattro                1
e-2008 SUV                       1
i3 120 Ah                        1
M-Byte 95 kWh 2WD                1
Name: Model, Length: 102, dtype: int64

In [22]:

X = pp.drop(["PriceEuro","Model"],axis=1)
y = pp["PriceEuro"]


X,y

(           Brand  AccelSec  TopSpeed_KmH  Range_Km  Efficiency_WhKm  \
 0         Tesla        4.6           233       450              161
 1    Volkswagen       10.0           160       270              167
 2      Polestar        4.7           210       400              181
 3           BMW        6.8           180       360              206
 4         Honda        9.5           145       170              168
 ..           ...       ...           ...       ...              ...
 98       Nissan        7.5           160       330              191
 99         Audi        4.5           210       335              258
 100      Nissan        5.9           200       325              194
 101      Nissan        5.1           200       375              232
 102       Byton        7.5           190       400              238

     FastCharge_KmH RapidCharge PowerTrain    PlugType  BodyStyle Segment  \
 0              940         Yes        AWD  Type 2 CCS      Sedan       D
 1              250         Yes        RWD  Type 2 CCS  Hatchback       C
 2              620         Yes        AWD  Type 2 CCS   Liftback       D
 3              560         Yes        RWD  Type 2 CCS        SUV       D
 4              190         Yes        RWD  Type 2 CCS  Hatchback       B
 ..             ...         ...        ...         ...        ...     ...
 98             440         Yes        FWD  Type 2 CCS  Hatchback       C
 99             540         Yes        AWD  Type 2 CCS        SUV       E
 100            440         Yes        AWD  Type 2 CCS  Hatchback       C
 101            450         Yes        AWD  Type 2 CCS  Hatchback       C
 102            480         Yes        AWD  Type 2 CCS        SUV       E

      Seats
 0        5
 1        5
 2        5
 3        5
 4        4
 ..     ...
 98       5
 99       5
 100      5
 101      5
 102      5

 [103 rows x 12 columns],
 0      55480
 1      30000
 2      56440
 3      68040
 4      32997
        ...
 98     45000
 99     96050
 100    50000
 101    65000
 102    62000
 Name: PriceEuro, Length: 103, dtype: int64)

# Categorical data is Brand,Rapidcharge,PowerTrain,PlugType,BodyStyle,Segment,Seats

In [23]:
# Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Brand","RapidCharge","PowerTrain","PlugType","BodyStyle","Segment","Seats"]
one_hot = OneHotEncoder(sparse=False)
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                categorical_features)],
                               remainder = "passthrough" )
transformed_X = transformer.fit_transform(X)
transformed_X

/home/batth/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0.0, 0.0, 0.0, ..., 450, 161, '940'],
       [0.0, 0.0, 0.0, ..., 270, 167, '250'],
       [0.0, 0.0, 0.0, ..., 400, 181, '620'],
       ...,
       [0.0, 0.0, 0.0, ..., 325, 194, '440'],
       [0.0, 0.0, 0.0, ..., 375, 232, '450'],
       [0.0, 0.0, 0.0, ..., 400, 238, '480']], dtype=object)

In [24]:
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,4.6,233,450,161,940
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,10.0,160,270,167,250
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,4.7,210,400,181,620
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,6.8,180,360,206,560
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,9.5,145,170,168,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,7.5,160,330,191,440
99,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,4.5,210,335,258,540
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,5.9,200,325,194,440
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,5.1,200,375,232,450
102,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,7.5,190,400,238,480

In [25]:
X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size=0.15)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(X_train[:,:-1],y_train)

LinearRegression()

In [29]:
model.score(X_test[:,:-1],y_test)

0.8731242816696774

In [30]:
model.predict(X_test[:,:-1])

array([ 35649.06620055, 149803.77233649,  31959.72467179,  51967.16022046,
       100022.96782592,  45510.00858558,  85748.67434895,  50105.85294226,
        58716.87647962,  78758.50227093,  36662.1802588 ,  39274.78061061,
        50689.43689528, 134576.26217694,  45964.29126567,  37987.28368903])

In [31]:
y_test

26      33000
79     148301
52      35000
21      58620
54      85990
49      36057
59      96990
6       31900
33      75000
50      79445
1       30000
95      35575
67      55000
47     102945
100     50000
89      37500
Name: PriceEuro, dtype: int64

In [32]:
sal = pd.read_csv("data/Salary Data.csv")
sal

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [33]:
sal.dropna(inplace=True)

In [34]:
sal.dtypes
sal['Gender'] = sal['Gender'].replace({'Male': 0, 'Female': 1})

In [35]:
XX = sal.drop(["Salary","Education Level","Job Title"],axis=1)
XX

      Age  Gender  Years of Experience
0    32.0       0                  5.0
1    28.0       1                  3.0
2    45.0       0                 15.0
3    36.0       1                  7.0
4    52.0       0                 20.0
..    ...     ...                  ...
370  35.0       1                  8.0
371  43.0       0                 19.0
372  29.0       1                  2.0
373  34.0       0                  7.0
374  44.0       1                 15.0

[373 rows x 3 columns]

In [36]:
YY = sal["Salary"]

In [37]:
XX,YY

(      Age  Gender  Years of Experience
 0    32.0       0                  5.0
 1    28.0       1                  3.0
 2    45.0       0                 15.0
 3    36.0       1                  7.0
 4    52.0       0                 20.0
 ..    ...     ...                  ...
 370  35.0       1                  8.0
 371  43.0       0                 19.0
 372  29.0       1                  2.0
 373  34.0       0                  7.0
 374  44.0       1                 15.0

 [373 rows x 3 columns],
 0       90000.0
 1       65000.0
 2      150000.0
 3       60000.0
 4      200000.0
          ...
 370     85000.0
 371    170000.0
 372     40000.0
 373     90000.0
 374    150000.0
 Name: Salary, Length: 373, dtype: float64)

In [38]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# categorical_features = ["Gender"]
# one_hot = OneHotEncoder(sparse=False)
# transformer = ColumnTransformer([("one_hot",
#                                 one_hot,
#                                 categorical_features)],
#                                remainder = "passthrough" )
# transformed_X = transformer.fit_transform(XX)
# transformed_X

In [39]:
XX_Train,XX_Test,YY_Train,YY_Test = train_test_split(XX,YY,test_size=0.15)
model.fit(XX_Train,YY_Train)

LinearRegression()

In [40]:
pred = model.predict(XX_Test)

In [41]:
model.score(XX_Test,YY_Test)

0.800889596584793

In [42]:
pred

array([ 72144.99926311,  37415.42116599,  93388.80795018,  94593.40097966,
        43884.23016802,  45384.05821187, 138580.84639764,  54304.37189562,
        39424.07332615,  97044.90566137,  47540.32787921,  40776.28386281,
       127209.02803218,  87829.35696326, 146549.48344352,  56460.64156296,
       109368.40066469,  41727.96050068, 145640.1254284 , 133973.07204858,
       179165.11049604, 153608.76247428,  87829.35696326, 132726.16039635,
        92437.13131231, 118288.71434843, 173900.89452349,  67537.22491405,
        76752.77361216,  97996.58229923, 100448.08698094, 137333.93474541,
        50648.27418442, 133973.07204858, 131816.80238124,  81360.54796122,
        92437.13131231,  47540.32787921,  83516.81762857,  66332.63188457,
        72440.23427747,  90280.86164497,  47540.32787921, 169949.56179793,
       149000.98812523,  99201.17532871,  57412.31820082,  41727.96050068,
       143483.85576105,  99496.41034308, 109368.40066469, 180664.93853989,
        85673.08729591, 125347.9933792 ,  81360.54796122,  82312.22459908])

In [43]:
YY_Train

31      55000.0
73      40000.0
188    180000.0
200    180000.0
181    105000.0
         ...
290    110000.0
118     45000.0
4      200000.0
366     50000.0
251    110000.0
Name: Salary, Length: 317, dtype: float64

# choosing the right estimator/algorithm for yor problem

Some things to note:
    * Sklearn refers to machine learning models as estimators

In [44]:
# Get calforinaia dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [45]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [46]:
housing_df = pd.DataFrame(housing["data"],columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [47]:
housing_df["MedHouseVal"] = housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [48]:
# import Algorithm
# Setup randomseed(42)

#  Create the data
X = housing_df.drop("MedHouseVal",axis=1)
Y = housing_df["MedHouseVal"]

# Split into train and test data
X_Train,X_Test,Y_Train,Y_Test = train_test_split(X,Y,test_size=0.2)

# Instantiate and fit the model (on training set)
from sklearn import linear_model
model = linear_model.Ridge()
model.fit(X_Train,Y_Train)

#  check model score
model.score(X_Test,Y_Test)

0.5886521213235848

 What if 'Ridge' didn't work or score didn't fit our needs?
 Well , we could always try a different model...
 
 how about we try an ensemble modle(an ensemble is combination of smaller models to try and make better prediction than just a single algorithm

In [49]:
#  import Randomforestregressor model class from the ensemble module
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

model = RandomForestRegressor(n_estimators=100)
model.fit(X_Train,Y_Train)
model.score(X_Test,Y_Test)

0.8082081010112313

In [70]:
model.predict(X_Test)

array([3.2638703, 1.2227   , 1.4974202, ..., 1.30828  , 3.5818218,
       2.47967  ])

## 3 Fit the model/algorithm on our data and use it to make prediictions
3.1  fitting model to the data

In [53]:
heart = pd.read_csv("data/43 - heart-disease.csv")
# Create X (feature matrix)
X = heart.drop("target",axis = 1)
# Create Y (Labels)
y= heart["target"]
# 3. fit thee model to the data
from sklearn.model_selection import train_test_split
# X-train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8360655737704918

In [62]:
y_preds=clf.predict(X_test)

In [64]:
np.mean(y_preds==y_test),clf.score(X_test,y_test)

(0.8360655737704918, 0.8360655737704918)

make prediction with `predict_proba()`

In [71]:
# predict_proba() return  probabilities of a classification label
clf.predict_proba(X_test[:5])

array([[1.        , 0.        ],
       [0.64444444, 0.35555556],
       [0.13333333, 0.86666667],
       [0.72222222, 0.27777778],
       [0.24444444, 0.75555556]])

In [73]:
clf.predict(X_test[:5])

array([0, 0, 1, 0, 1])